* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
  /* outline: 1px solid red; */
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: black;
}